---
- name: Instalar dependencias necesarias para WordPress
  apt:
    name:
      - php-curl
      - php-gd
      - php-xml
      - php-zip
      - unzip
      - curl
    state: present

- name: Descargar WordPress
  get_url:
    url: "https://wordpress.org/latest.tar.gz"
    dest: "/tmp/wordpress.tar.gz"

- name: Crear directorio para WordPress
  file:
    path: "{{ wordpress_path }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Extraer WordPress
  unarchive:
    src: "/tmp/wordpress.tar.gz"
    dest: "/tmp/"
    remote_src: yes

- name: Copiar archivos de WordPress al directorio web
  shell: "cp -r /tmp/wordpress/* {{ wordpress_path }}/"
  args:
    creates: "{{ wordpress_path }}/wp-config-sample.php"

- name: Establecer permisos correctos
  file:
    path: "{{ wordpress_path }}"
    owner: www-data
    group: www-data
    recurse: yes

- name: Crear archivo wp-config.php desde template
  template:
    src: wp-config.php.j2
    dest: "{{ wordpress_path }}/wp-config.php"
    owner: www-data
    group: www-data
    mode: '0640'

- name: Configurar VirtualHost de Nginx para WordPress
  template:
    src: nginx-wordpress.conf.j2
    dest: "/etc/nginx/sites-available/wordpress.conf"
    owner: root
    group: root
  notify: restart nginx

- name: Activar VirtualHost de WordPress
  file:
    src: "/etc/nginx/sites-available/wordpress.conf"
    dest: "/etc/nginx/sites-enabled/wordpress.conf"
    state: link
  notify: restart nginx

- name: Limpiar archivos temporales
  file:
    path: "/tmp/wordpress.tar.gz"
    state: absent