- hosts: all
  become: true
  roles:
   - role: commons

- hosts: servidores_web
  become: true
  roles:
   - role: nginx
   - role: wordpress
   - role: phpmyadmin

- hosts: servidores_bd
  become: true
  roles:
   - role: mariadb

- hosts: servidores_docker 
  become: true
  roles:
   - role: docker